<form action="/cuisine/new" method="post">
  <label for="cuisine-type">Cuisine Type</label>
  <input type="text" name="cuisine-type" id="cuisine-type">
  <button type="submit" name="button">Add</button>
</form>
